* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*moved the font-family and color into body because it applies for almost all text*/
body {          
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #d9dcd6;
    color: #ffffff;
}

.header {
    padding: 20px;
    background-color: #2a607c;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}

.header nav {            /*nav replaced for div ul and li*/
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
                                    /*grouped selectors "content" and "benefits" to keep the logic and cohesion of the code */
.content-elements {                 /*renamed the class to more generic name "content-elements" to be used for all 3 articles*/
    margin-bottom: 20px;            /*to eliminate redundancy in the code*/
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
    color: #ffffff;
}

.content-elements img {
    max-height: 200px;
}

.content-elements h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.benefits {                         /*moved font-family to body to avoid redundancy*/
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
}

.benefit-elements {                 /*renamed the class to a more generic name "benefit-elements" to be used for all div */
    margin-bottom: 32px;            /*to eliminate redundancy in the code*/
    color: #ffffff;
}

.benefit-elements h3 {              /*same for h3 and img elements*/
    margin-bottom: 10px;
    text-align: center;
}

.benefit-elements img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: #2a607c;     /*changed the color to #2a607c from white to improve contrast and make it much easier to read*/
}

.footer h2 {
    font-size: 20px;
}




